[submodule "Log"]
path = Log
url = ssh://git@github.com/CodeEditorLand/Log.git

[submodule "Outline"]
path = Outline
url = ssh://git@github.com/CodeEditorLand/Outline.git

[submodule "Product"]
path = Product
url = ssh://git@github.com/CodeEditorLand/Product.git
